#gSignInButton{
	padding:10px;
}

#doubleArrow{
	width:10%;
	display:inline-block;
	height: 20vh;
}

.container-fluid{
	text-align:center;
	position:relative;
}

.jumbotron{
    height: 45vh;
    width: 40%;
	display:inline-block;
}
